
<%= form_for reservation do |f| %>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date, min: Date.today, max: 60.days.from_now %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.time_field :time %>
  </p>

  <p>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
