<div class="restaurant">
  <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
  <p><%= link_to 'Make a reservation', reservation_path %></p>

  Address: <%= restaurant.address %>
  Capacity: <%= restaurant.capacity %>
  Open from : <%= restaurant.open_time %> to <%= restaurant.close_time %>
  <%= link_to image_tag(restaurant.url, class: "restaurant"), restaurant_path(restaurant) %>
</div>
